body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f2f5;
    color: #333;
    max-width: 400px; /* Limit the maximum width of the popup */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

h1 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #2c3e50;
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#result {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin-top: 20px;
    word-wrap: break-word; /* Break long words to prevent overflow */
    overflow-wrap: break-word; /* Ensure long words break to fit within the container */
}

#searchInput {
    width: calc(100% - 24px); /* Set the width of the input field */
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

#searchInput:focus {
    border-color: #3498db;
    outline: none;
}

#searchButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Make the button a block element */
    width: 100%;
    text-align: center;
}

#searchButton:hover {
    background-color: #2980b9;
}